<h1><%= @competition.name %> Show Page</h1>

<p><b>Location:</b> <%= @competition.location %></p>
<p><b>Sport:</b> <%= @competition.sport %></p>
<p><b>Average Age of Players:</b> <%= @competition.teams.avg_age_players.to_f.round(0) %></p>


<h2>List of Teams:</h2>
<% @competition.teams.each do |team| %>
  <div id="Team-<%= team.id %>">
    <p><b>Team #: <%= team.id %></b></p>
    <p><%= team.hometown %></p>
    <p><%= team.nickname %></p>
  </div>
<% end %>
